.pagination-control {
    padding: 3px 3px 3px 3px;
    // display: table;
    display: flex;
    align-items:center;
    color: rgb(0, 0, 0);
    .page-info {
      span {
        color: rgb(110, 110, 110);
      }
      span:hover { 
        color: rgb(105, 102, 102);
      }
    }
    
    .page-button {
      // display: table-cell;
      vertical-align: middle;
      padding-right: 15px;
      button {
          color: rgb(0, 0, 0);
          border: 1px solid #c7c7c7;
          background-color: #f3f2f2;
          border-radius: 10px;
          font-family: sans-serif;
          margin-right: 10px;
      }
      button:hover {
          color: rgb(0, 0, 0);
          border: 1px solid #c7c7c7;
          background-color: #c8c8c8;
        }
      }
    .page-size-select-wrapper {
        @extend .page-button;
        min-width: 80px;
    }
      .page-info {
          @extend .page-button;
      }
      .search-input{
        @extend .page-button;
        // padding: 0px;
        form {
        }
        font-size: inherit;
        // position:relative;
        input {
            // font-size: inherit;
            // position:absolute;
            // @extend .page-button;
            // padding: 0px;
        }
        button {
            // font-size: inherit;
            margin-left: 0px;
            border-radius: 0px;
        .search-icon{
            color: rgb(0, 0, 0);
            vertical-align: middle;
            }
        }
    }
  }


