.pagination-control {
    /* width: 100%; */
    display: table;
    color: rgb(0, 0, 0);
    .page-button {
      display: table-cell;
      vertical-align: middle;
      padding-right: 15px;
  
      button {
          color: rgb(0, 0, 0);
          border: 1px solid #c7c7c7;
          background-color: #f3f2f2;
          border-radius: 10px;
          padding: 3px 3px 3px 3px;
          font-family: sans-serif;
          margin-left: 5px;
      }
      button:hover {
          color: rgb(0, 0, 0);
          border: 1px solid #c7c7c7;
          background-color: #c8c8c8;
        }
      }
    .page-size-select-wrapper {
        @extend .page-button;
        min-width: 80px;
    }
      
      .page-info {
          @extend .page-button;
      }
  }
  
.search-input{
    padding: 3px 3px 3px 3px;
    button {
    background-color: #f3f2f2;
    border: 1px solid #c7c7c7;
    .search-icon{
        color: rgb(0, 0, 0);
        vertical-align: middle;
        }
    }
    button:hover {
        border: 1px solid #c7c7c7;
        background-color: #c8c8c8;
    }
}

