.table-container {
    padding: 0.2em 0.2em 0.2em 0.2em;
    min-width: 65em;
  .table {
    display: table;
    width: 100%;
    margin-bottom:0em;
    #table-header {
        background-color: #b1b4b8;
        border-top-left-radius: 0.5px;
        color: white;
      }
    .table-row {
      display: table-row;
      .table-cell {
        width: 20%;
        display: table-cell;
        border-right: 2px solid #fff;
        height: 1.4em;
        min-height: 1.4em;
        border-collapse: collapse;
        padding: 0.2em 0.2em 0.2em 0.2em;
        font-size: 1.33em;
        font-family: Arial;
        text-align: left;
        vertical-align: top;
      }
      .table-cell:first-child {
        width: 10%;
      }
    }
    .table-row:nth-child(even) {
      background: rgb(250, 246, 246);
    }
    .table-row:hover,.table-row:focus-within {
      background-color: rgb(202, 242, 243);
    }
  }
}

