.table {
    display: table;
    width: 100%;
  }
  .table-row {
    display: table-row;
  }
  
  .table-cell {
    display: table-cell;
    border-right: 2px solid #fff;
    height: 10px;
    border-collapse: collapse;
    padding: 3px 3px 3px 3px;
    font-size: 20px;
    font-family: Arial;
    text-align: left;
    vertical-align: top;
  
  }
  
  .table-row:hover{
    background-color: rgb(202, 242, 243);
  }
  
  #table-header{
    background-color: #b1b4b8;
    border-top-left-radius:0.5px;
    color: white;
  }